[Unit]
Description=Python HTTP Listener
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/python3 /home/alarm/python-simple-http/listener.py

[Install]
WantedBy=multi-user.target